<div class="row" style="margin-top:25px;">
  <h3>&nbsp; &nbsp; Top Categories</h3><br><br>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-3 center">
          <img class="cat-img round-bordered" height="250px" width="250px"
           src="https://i.postimg.cc/qR5SkhtJ/tablet-capsule-medicine-icon-illustration-healthcare-medical-icon-concept-isolated-138676-882.png"
          [routerLink]="['bycat','Categories',11]">
      </div>
      <div class="col-md-3 center">
          <img class="cat-img round-bordered"  height="250px" width="250px"
          src="https://i.postimg.cc/25TgKXrB/HEALTHCARE.png" [routerLink]="['bycat','Categories',10]">
      </div>
      <div class="col-md-3 center">
          <img class="cat-img round-bordered" height="250px" width="250px"
           src="https://i.postimg.cc/Yq1yvqjx/AYURVEDIC.png" [routerLink]="['bycat','Categories',8]">
      </div>
      <div class="col-md-3 center">
          <img class="cat-img round-bordered" height="250px" width="250px"
           src="https://i.postimg.cc/BQWVZ1Z6/DEVICES.png" [routerLink]="['bycat','Categories',9]">
      </div>
  </div>
<br><br>
<div style="text-align:center;">
  <img class="pointer shake" src='https://i.postimg.cc/3Nnn8v48/prescription.png' alt='order with prescription' routerLink="/prescription"/>
</div>

<div class="container-fluid"><br>
  <h3>&nbsp; All Categories</h3>
  <div class="row">
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/J0PP15mt/covid.png" [routerLink]="['bycat','SubCategories',19]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/qMVX67jj/diabetic.png" [routerLink]="['bycat','SubCategories',20]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/DzzggMVZ/personal-care.png" [routerLink]="['bycat','SubCategories',28]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/fRCCYhrp/skin-care.png" [routerLink]="['bycat','SubCategories',29]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/htM9Y1g5/devices.png" [routerLink]="['bycat','SubCategories',22]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/vmp0ZtjZ/Ayurvedic.png" [routerLink]="['bycat','SubCategories',15]">
      </div>
  </div>
  <div class="row">
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/Lssc1DNk/home-care.png" [routerLink]="['bycat','SubCategories',25]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/tC3d3Hcy/health-conditions.png" [routerLink]="['bycat','SubCategories',23]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/hG5VD4X8/fitness.png" [routerLink]="['bycat','SubCategories',21]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/RZ4G30Xw/health-foods.png" [routerLink]="['bycat','SubCategories',24]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/yNdFC38Y/mom-and-baby.png" [routerLink]="['bycat','SubCategories',27]">
      </div>
      <div class="col-md-2">
          <img class="cat-img" src="https://i.postimg.cc/JzRNK2wX/surgicals.png" [routerLink]="['bycat','SubCategories',30]">
      </div>
  </div>
</div>
<br>
<div class="container-fluid"  style="margin-left:15px ;">
  <h3>Shop by Concern</h3><br>
  <div class="row">
      <div class="col-md-3">
          <img class="cat-img" src="https://i.postimg.cc/mDPSxXSr/bone-pain.png" [routerLink]="['bycat','SubCategories',16]">
      </div>
      <div class="col-md-3">
          <img class="cat-img" src="https://i.postimg.cc/6QjhmJnS/cold-and-fever.png" [routerLink]="['bycat','SubCategories',18]">
      </div>
      <div class="col-md-3">
          <img class="cat-img" src="https://i.postimg.cc/1X6cX82h/lung-care.png" [routerLink]="['bycat','SubCategories',26]">
      </div>
      <div class="col-md-3">
          <img class="cat-img" src="https://i.postimg.cc/XJtknf2k/weight-care.png" [routerLink]="['bycat','SubCategories',31]">
      </div>
  </div>