<div class="container d-flex" style="margin-top:5% ; justify-content:center;">
    <img height="100px" width="100px"
     src="https://media.istockphoto.com/vectors/no-entry-sign-vector-id1128230184?k=20&m=1128230184&s=612x612&w=0&h=OccRJ2D0y8_jKLMUOBEX1DWlOmqObwtAkOX4918X8rs=">
    </div><br>
<div class="container d-flex" style="justify-content:center;">
<h3>Hey, You need to Login to do that!</h3>
</div>
<div  class="container d-flex" style="margin-top:25px ; margin-bottom: 5%; justify-content:center;">
    <button type="button" routerLink="/login" class="btn btn-success btn-lg">
        <span class="material-symbols-outlined">sensor_occupied</span>Click here to Login
    </button>
</div>
