<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Medi<b>X</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/adminDash"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/login">
              <span href="#" class="fa fa-sign-in fa-lg"></span> Login
            </a>
          </li>
          <span class="flex-spacer"></span>
        </ul>
      </div>
    </div>
  </nav>