<body>
<div class="container">
            <table class="table table-success table-striped table-hover mt-3" style="width: 100%;" id="mydatatable">
                <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                    <tr>
                        <td>1001</td>
                        <td>Dairy Milk</td>
                        <td>150/-</td>
                        <td>101</td>
                        <td><button  id="edit_btn" class="icon"><i class="fas fa-edit"></i></button></td>
                        <td><button id="delete_btn" class="icon"><i class="fas fa-trash"></i></button></td>
                    </tr> 
                </tbody>
            </table>
            </div>
          
</body>