<div style="text-align:center; margin-top: 50px;">
    <h3>Please select your preffered Payment mode</h3>
    </div>
    <div class="container-fluid d-flex" style="justify-content:center; margin-bottom: 80px;">
        <div class="list-group" style="width:50%; margin-top: 20px;">
            <button type="button" class="list-group-item list-group-item-action" style="height: 5.5em;" routerLink="/prescription">
                <span class="material-symbols-outlined">
                payments
                </span><b>Pay On Delivery</b><br><em><small>&nbsp; &nbsp; &nbsp; &nbsp; Pay via Cash/Card at the the time of Delivery</small></em></button>
            <button type="button" class="list-group-item list-group-item-action disabled" style="height: 5.5em;">
                <span class="material-symbols-outlined">
                    account_balance
                    </span><b>Online Payment</b><br><em><small>&nbsp; &nbsp; &nbsp; &nbsp; This feature is currently Unavailble</small></em></button>
          </div>
    </div>
    